.lifestyle {
    padding-top: 50px;

    .newIcon-container {
        grid-template-columns: repeat(10, 60px);
        column-gap: 15px;
    }

    .product {
        min-height: 690px;
        max-height: 100vh;
        background-position: center;
        background-size: cover;
    }

    &__chairs {
        background-image: url('../../../image/lifestyle/image1.jpg');
    }

    &__snekiSnek {
        background-image: url('../../../image/lifestyle/image2.jpg');
    }

    &__collabs {
        background-image: url('../../../image/lifestyle/image3.jpg');
    }

    &__apprel {
        background-image: url('../../../image/lifestyle/image4.jpg');
    }

    &__bags {
        background-image: url('../../../image/lifestyle/image5.jpg');
    }

    &__gear {
        background-image: url('../../../image/lifestyle/image6.jpg');
    }

    &__masks {
        background-image: url('../../../image/lifestyle/image7.jpg');
    }

    &__sneki {
        background-image: url('../../../image/lifestyle/image8.jpg');
    }

    &__respawm {
        background-image: url('../../../image/lifestyle/image9.jpg');
    }
    
}
