.console {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;

    .description {
        .titlePrimary {
            color: var(--color-primary);
            font-size: 36px;
            font-weight: 200;
        }

        .colorWhite {
            font-size: 28px;
            font-weight: 200;
        }

        .btn-learnMore {
            color: var(--color-primary);
            font-size: 17px;
            font-weight: 300;
        }
    }

    .description__product {
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translate(0%, -50%);

        background-color: transparent;

        .container {
            height: 100%;
            max-width: 480px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                max-width: 300px;
                font-size: 25px;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 200;
            }

            p {
                margin: 15px 0;
                font-size: 15px;
                color: #888888;
            }

            button {
                font-size: 16px;
                text-align: initial;
                color: var(--color-primary);
            }
        }
    }

    .products {
        min-height: 690px;
        max-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .description {
            background: none;
            padding-top: 50px;

            h1 {
                font-size: 25px;
            }

            p {
                font-size: 16px;
            }

            button {
                padding-top: 15px;
            }
        }
    }

    &__boldClearFresh {
        display: grid;
        height: 100%;
        background-color: var(--color-light);

        .description {
            background-color: transparent;
        }

        .razer-grid {
            margin: 0 auto;
            align-items: center;
            padding-bottom: 20px;
        }
    }

    &__gamingAudio {
        position: relative;
        width: 100%;
        height: 340px;
        background-color: #000;
        background-image: url("../../../image/console/audio1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center, left;
    }

    &__gamepads {
        position: relative;
        width: 100%;
        height: 380px;
        background-image: url("../../../image/console/gamepads1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center, left;

        .description__product {
            max-width: 300px;
            left: 5%;
        }
    }

    &__controllerXbox {
        background-image: url("../../../image/console/controllerXbox.jpg");
    }

    &__limitedEdition {
        background-image: url("../../../image/console/controllerXboxGear.jpg");
        border-bottom: 1px solid var(--color-primary);
    }

    &__razerKaira {
        background-image: url("../../../image/console/razerKaira.jpg");
        border-bottom: 1px solid var(--color-primary);
    }

    &__razerWolverine {
        background-image: url("../../../image/console/razerWolverine.jpg");
        border-bottom: 1px solid var(--color-primary);
    }

    &__connect {
        background-image: url("../../../image/console/connect.jpg");
        border-bottom: 1px solid var(--color-primary);
    }

    &__peripherals {
        background-color: var(--color-light);
        border: 1px solid blue;
    }

    @media (max-width: 766px) {
        & {
            padding-top: 0;
        }

        .description {
            padding-left: 10px;
            padding-right: 10px;

            p {
                width: 100%;
            }
            .titlePrimary {
                color: var(--color-primary);
                font-size: 36px;
                font-weight: 200;
            }

            .colorWhite {
                font-size: 28px;
                font-weight: 200;
            }

            .btn-learnMore {
                color: var(--color-primary);
                font-size: 17px;
                font-weight: 300;
            }
        }
    }
}
