.Home {
    position: relative;
    padding-top: 50px;
    
    /*----------- LIMITED TIME -----------*/
    .limitedTime {
        background-color: #555;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: #eee;
            font-size: 14px;
            letter-spacing: -.01px;
        }

        button {
            display: inline-block;
            margin-left: 5px;
            text-decoration: none;

            &:hover {
                color: #eee;
                text-decoration: underline;
            }
        }
    }

    /*-------- RAZER BLADE ----------*/ 
    .razerBlade {
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../image/razerBlade.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: 8px solid #222;

        // @media(max-height: 500px) {
        //     & {
        //         height: 100vh;
        //         border: 2px solid red;
        //     }
        // }
    }

    /*-------- RAZER SCHOOL ----------*/
    .razerSchool {
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../image/razerSchool.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: 8px solid #222;
    }

    /*---------- RAZER BARRACUDA X -----------*/
    .razerBarracudaX {
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../image/razerBarracuda.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: 8px solid #222;
    }

    /*----------- PRODUCTS -----------*/
    .products {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,580px);
        border-bottom: 8px solid #222;
        gap: 8px;
        background-color: #222;

        .gaming {
            background-image: url('../image/products/image1.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .newRazerBlade {
            background-image: url('../image/products/image2.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .razerBlade14 {
            background-image: url('../image/products/image3.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .razerOrochi {
            background-image: url('../image/products/image4.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .razerBlackshark {
            background-image: url('../image/products/image5.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .theBest {
            background-image: url('../image/products/image6.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}