.header {
    position: fixed;
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 10;
    background-color: #040404;
    z-index: 1000;
    border-bottom: 1px solid var(--color-primary);

    nav {
        margin: 0 auto;
        display: block;
        width: 100%;
        max-width: 1300px;

        ul {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 70px;
            padding-right: 100px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 300;
                    color: #ffff;
                    opacity: 0.6;
                    transition: 250ms;

                    &:hover {
                        opacity: 1;
                    }
                }

                a.containerLogo {
                    min-width: 33px;
                    display: block;
                    opacity: 1;
                    img.logo {
                        max-width: 100%;
                    }
                }

                .containerIcon {
                    font-size: 18px;
                    line-height: 40px;
                    display: flex;

                    ion-icon {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.header__mobile {
    display: none;
}

@media (max-width: 766px) {
    .header {
        display: none;
    }

    .header__mobile {
        position: relative;
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-primary);
        height: 50px;
        padding: 0 15px;

        .hamburguer {
            position: relative;
            width: 50px;
            height: 15px;

            &::after {
                content: "";
                position: absolute;
                top: 1px;
                left: 0;
                width: 25px;
                height: 1px;
                background-color: #fff;
                opacity: 0.5;
                transition: 300ms;
            }

            &::before {
                content: "";
                position: absolute;
                top: 11px;
                left: 0;
                width: 25px;
                height: 1px;
                background-color: #fff;
                opacity: 0.5;
                transition: 300ms;
            }
        }

        .hambuguer-active {
            &::after {
                top: 4px;
                transform: rotate(40deg);
            }

            &::before {
                top: 4px;
                transform: rotate(-40deg);
            }
        }

        .containerLogo {
            width: 38px;
            height: 38px;
        }

        .containerIcon {
            font-size: 25px;
            color: #ffff;
            opacity: 0.7;
            display: flex;
            align-self: center;

            &:hover {
                opacity: 1;
            }
        }

        &-containerMenu {
            position: absolute;
            width: 100%;
            height: 0vh;
            left: 0;
            top: -1000%;
            opacity: 0;
            background-color: #040404;
            z-index: 1;
            padding-top: 5px;
            transition: 600ms;

            .input {
                display: block;
                width: 96%;
                height: 40px;
                margin: 0 auto;
                background-color: #222;
                border: none;
                border-radius: 7px;
                outline: none;
                padding: 0 33px;
                font-size: 17px;
                color: #fff;
            }

            nav {
                border-top: 1px solid #555;
                margin-top: 15px;

                ul {
                    padding: 10px 40px;

                    li {
                        margin-bottom: 15px;
                        border-bottom: 1px solid #555;
                        padding-bottom: 5px;

                        &:nth-child(7) {
                            border: none;
                        }

                        a {
                            font-size: 17px;
                            text-decoration: none;
                            color: #fff;
                            opacity: 0.6;
                            font-weight: 300;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }

                }
            }
        }

        .menu-active {
            height: 100vh;
            top: 40px;
            opacity: 1;
            transition: 600ms;
        }
    }
}