.header {
  position: fixed;
  display: block;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10;
  background-color: #040404;
  z-index: 1000;
  border-bottom: 1px solid var(--color-primary);
}

.header nav {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 1300px;
}

.header nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  padding-right: 100px;
}

.header nav ul li {
  list-style: none;
}

.header nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: #ffff;
  opacity: 0.6;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.header nav ul li a:hover {
  opacity: 1;
}

.header nav ul li a.containerLogo {
  min-width: 33px;
  display: block;
  opacity: 1;
}

.header nav ul li a.containerLogo img.logo {
  max-width: 100%;
}

.header nav ul li .containerIcon {
  font-size: 18px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul li .containerIcon ion-icon {
  font-weight: bold;
}

.header__mobile {
  display: none;
}

@media (max-width: 766px) {
  .header {
    display: none;
  }
  .header__mobile {
    position: relative;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid var(--color-primary);
    height: 50px;
    padding: 0 15px;
  }
  .header__mobile .hamburguer {
    position: relative;
    width: 50px;
    height: 15px;
  }
  .header__mobile .hamburguer::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .header__mobile .hamburguer::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 25px;
    height: 1px;
    background-color: #fff;
    opacity: 0.5;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .header__mobile .hambuguer-active::after {
    top: 4px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .header__mobile .hambuguer-active::before {
    top: 4px;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .header__mobile .containerLogo {
    width: 38px;
    height: 38px;
  }
  .header__mobile .containerIcon {
    font-size: 25px;
    color: #ffff;
    opacity: 0.7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .header__mobile .containerIcon:hover {
    opacity: 1;
  }
  .header__mobile-containerMenu {
    position: absolute;
    width: 100%;
    height: 0vh;
    left: 0;
    top: -1000%;
    opacity: 0;
    background-color: #040404;
    z-index: 1;
    padding-top: 5px;
    -webkit-transition: 600ms;
    transition: 600ms;
  }
  .header__mobile-containerMenu .input {
    display: block;
    width: 96%;
    height: 40px;
    margin: 0 auto;
    background-color: #222;
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 0 33px;
    font-size: 17px;
    color: #fff;
  }
  .header__mobile-containerMenu nav {
    border-top: 1px solid #555;
    margin-top: 15px;
  }
  .header__mobile-containerMenu nav ul {
    padding: 10px 40px;
  }
  .header__mobile-containerMenu nav ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
  }
  .header__mobile-containerMenu nav ul li:nth-child(7) {
    border: none;
  }
  .header__mobile-containerMenu nav ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    font-weight: 300;
  }
  .header__mobile-containerMenu nav ul li a:hover {
    opacity: 1;
  }
  .header__mobile .menu-active {
    height: 100vh;
    top: 40px;
    opacity: 1;
    -webkit-transition: 600ms;
    transition: 600ms;
  }
}
/*# sourceMappingURL=header.css.map */