@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --color-primary: #44d62c; 
  --color-dark: #222;
  --color-light: #252525;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #000;
}

p {
  color: #999999;
}

ul {
  list-style: none;
}

/*------------ Container Buttons -----------*/

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.containerButtons {
  margin-top: 8px;
}

.containerButtons button {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.9;
}

.containerButtons button:hover {
  text-decoration: underline;
}

.containerButtons button span {
  color: var(--color-primary);
}

.containerButtons-products {
  text-align: center;
  margin-top: 10px;
  color: #fff;
}

.containerButtons-products button {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  opacity: 0.9;
  margin-left: 30px;
}

.containerButtons-products button:hover {
  text-decoration: underline;
}

.containerButtons-products button span {
  color: var(--color-primary);
}

/*------------ Container Title -----------*/
.razer-containerTitle {
  text-align: center;
  color: #fff;
}

.razer-containerTitle h1 {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.05px;
  margin: 48px 0 0px;
}

.razer-containerTitle h2 {
  font-weight: 400;
}

.razer-containerTitle-products {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}

.razer-containerTitle-products h1 {
  font-size: 1.7rem;
  font-weight: 500;
}

.razer-containerTitle-products h2 {
  font-weight: 400;
  font-size: 1.1rem;
}

@media(max-width: 766px) {
  .razer-containerTitle h1 {
    font-size: 2rem;
  }

  .razer-containerTitle h2 {
    font-size: 1rem;
    font-weight: 400;
  }
}

/*------------ Icon new -----------*/
.newIcon {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  padding: 15px;
  border-bottom: 1px solid var(--color-primary);
}

.newIcon-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.newIcon-container div {
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: center;
}

.newIcon-container div img {
  display: block;
  width: 32px;
  height: 32px;
}

.newIcon-container div button {
  color: #fff;
  font-size: 11px;
}

.newIcon-container div button:hover {
  color: var(--color-primary);
}

.newIcon-container div p {
  color: #f5b21d;
  font-size: 11px;
}

