.Home {
    position: relative;
    padding-top: 50px;
    
    /*----------- LIMITED TIME -----------*/
    .limitedTime {
        background-color: #555;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: #eee;
            font-size: 14px;
            letter-spacing: -.01px;
        }

        a {
            display: inline-block;
            margin-left: 5px;
            text-decoration: none;
            color: blue;

            &:hover {
                color: #eee;
                text-decoration: underline;
            }
        }
    }

    /*-------- RAZER BLADE ----------*/ 
    .razerBlade {
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../../image/razerBlade.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: 8px solid #222;
    }

    /*-------- RAZER SCHOOL ----------*/
    .razerSchool {
        width: 100%;
        min-height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../../../image/razerSchool.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: 8px solid #222;
    }

    /*---------- RAZER BARRACUDA X -----------*/
    .razerBarracudaX {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../../image/razerBarracuda.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: 8px solid #222;
    }

    /*----------- PRODUCTS -----------*/
    .products {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,580px);
        border-bottom: 8px solid #222;
        gap: 8px;
        background-color: #222;

        .gaming {
            background-image: url('../../../image/products/image1.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .newRazerBlade {
            background-image: url('../../../image/products/image2.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .razerBlade14 {
            background-image: url('../../../image/products/image3.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .razerOrochi {
            background-image: url('../../../image/products/image4.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .razerBlackshark {
            background-image: url('../../../image/products/image5.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .theBest {
            background-image: url('../../../image/products/image6.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    @media (max-width: 766px) {
        & {
           padding-top: 0px;
        }
        /*----------- LIMITED TIME -----------*/
        .limitedTime {
            text-align: center;
            min-height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 40px 50px;
        }
    
        .razerBlade {
            min-height: 700px;
            max-height: 100%;
            background-size: 200%;
        }
    
        /*----------- PRODUCTS -----------*/
        .products {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(6,580px);
            border-bottom: 8px solid #555;
            gap: 8px;
            background-color: #222;

            > div {
                padding: 0 10px;
            }
        }
    }
}
